* {
    box-sizing: border-box;
}

h1 {
    margin: 0 auto 15px;

    text-align: center;
    font-size: 80px;
}

#btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;

    height: 50px;
}

.btn {
    color: #fff;
    background-color: rgb(139, 139, 236);

    border-radius: 5px;

    padding: 8px;

    cursor: pointer;
}

.btn:active {
    transform: scale(0.98);
}
